In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from scipy.cluster.hierarchy import linkage, dendrogram
from scipy.cluster.hierarchy import fcluster

In [4]:
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE

In [5]:
def concat_list(lst):
    new_df = {}
    master_df = pd.DataFrame()
    file_path = "data_compressed_50hz/{}_normalized.csv"
    
    for key in lst:
        df = pd.read_table(file_path.format(key), header=None)
        master_df = pd.concat([master_df, df], axis=1)
    
    return master_df

In [6]:
CP_LIST =  ('CP',)
CE_LIST =  ('CE',)

In [7]:
cp_df = concat_list(CP_LIST)
ce_df = concat_list(CE_LIST)

In [43]:
cp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,2.184,2.184,2.184,2.185,2.178,2.188,2.177,2.180,2.151,2.143,...,1.509,1.470,1.458,1.452,1.443,1.449,1.428,1.401,1.402,1.383
1,1.414,1.384,1.385,1.384,1.382,1.385,1.362,1.338,1.331,1.334,...,1.170,1.195,1.193,1.179,1.178,1.177,1.152,1.158,1.147,1.164
2,1.159,1.157,1.157,1.134,1.129,1.137,1.117,1.138,1.122,1.095,...,1.101,1.102,1.099,1.099,1.118,1.112,1.116,1.108,1.085,1.103
3,1.101,1.086,1.107,1.075,1.073,1.067,1.070,1.077,1.061,1.065,...,1.096,1.099,1.075,1.088,1.097,1.086,1.101,1.097,1.100,1.091
4,1.086,1.081,1.087,1.061,1.061,1.062,1.061,1.056,1.037,1.040,...,1.094,1.093,1.085,1.087,1.082,1.105,1.101,1.097,1.100,1.106

In [12]:
cp_model = KMeans(n_clusters=3)
ce_model = KMeans(n_clusters=3)

In [35]:
clusters = ["Cluster 1", "Cluster 2", "Cluster 3"]

In [13]:
cp_labels = cp_model.fit_predict(cp_df)
ce_labels = ce_model.fit_predict(ce_df)

In [36]:
cp_clusters = [clusters[i] for i in cp_labels]
ce_clusters = [clusters[i] for i in ce_labels]

In [37]:
cp_tab_df = pd.DataFrame({'labels': cp_labels, 'clusters': cp_clusters})
ce_tab_df = pd.DataFrame({'labels': ce_labels, 'clusters': ce_clusters})

# Crosstab cooling power

In [38]:
pd.crosstab(cp_tab_df['labels'], cp_tab_df['clusters'])

clusters  Cluster 1  Cluster 2  Cluster 3
labels
0               736          0          0
1                 0        749          0
2                 0          0        720

# Crosstab cooling efficiency

In [39]:
pd.crosstab(ce_tab_df['labels'], ce_tab_df['clusters'])

clusters  Cluster 1  Cluster 2  Cluster 3
labels
0               733          0          0
1                 0        741          0
2                 0          0        731

# Crosstab pressure

In [50]:
ps_model = KMeans(n_clusters=4)

In [51]:
ps_df = concat_list(['PS1', 'PS2', 'PS3', 'PS4', 'PS5','PS6'])

In [52]:
ps_labels = ps_model.fit_predict(ps_df)

In [53]:
clusters_4 = clusters + ["Cluster 4"]

In [54]:
ps_clusters = [clusters_4[i] for i in ps_labels]

In [55]:
ps_tab_df = pd.DataFrame({'labels': ps_labels, 'clusters': ps_clusters})

In [56]:
pd.crosstab(ps_tab_df['labels'], ps_tab_df['clusters'])

clusters  Cluster 1  Cluster 2  Cluster 3  Cluster 4
labels
0               544          0          0          0
1                 0        240          0          0
2                 0          0       1049          0
3                 0          0          0        372